# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -e .; fi
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
        pytest or_suite/envs/general_test.py
        pytest or_suite/envs/ambulance/ambulance_tests.py
        pytest or_suite/envs/oil_discovery/oil_tests.py
        pytest or_suite/envs/resource_allocation/resource_allocation_tests.py
        pytest or_suite/envs/ridesharing/rideshare_tests.py
        pytest or_suite/envs/airline_revenue_management/airline_tests.py
        pytest or_suite/envs/finite_armed_bandit/bandit_tests.py
        pytest or_suite/envs/inventory_control_multiple_suppliers/inventory_control_test.py
        pytest or_suite/envs/vaccine_allotment/vaccine_tests.py
